body{
    height: 100%;
    padding: 0;
    margin: 0;
    background-color:  #f4f4f4;
}
.container{
    display: flex;
    font-family: 'Open Sans', Arial, sans-serif;
}
.left{
    flex: .5;
    padding: 20px;
    display: flex; 
    flex-direction: column ;
    justify-content: center;
    border: 2px solid black;
}
.right{
    flex: .5;
    padding: 20px;
    display: flex; 
    flex-direction: column;
    justify-content: center;
    border: 2px solid black;
}
#image {
    margin: auto;
    width: 200px;
    height: 200px;
    border-radius: 50%;   
}
hr {
  border:none;
  height: 2px;               
  background-color: black;    
  margin: 20px 0 ; 
}           
h2{
    color: #081119;
}
h1, h2 {
  font-family: 'Montserrat', Helvetica, sans-serif;
  font-weight: bold;
  text-align: center;
}
/* .ABARNA
{
    margin-top:50px;
} */